asgiref
Django
djangorestframework
python-decouple
sqlparse
psycopg2-binary
django-environ
gunicorn
whitenoise
social-auth-app-django
django-cors-headers
django-oauth-toolkit
django-allauth
Pillow
djangorestframework-simplejwt
requests
drf-yasg
drf-spectacular
google-auth
google-auth-oauthlib









